<h1>Let's Make Some Zaaaaas</h1>

<%= form_tag pizzas_path do %>
  <%= label_tag "pizza[name]", "What's the Name?" %>
  <br>
  <%= text_field_tag "pizza[name]", nil, placeholder: "Pizza Name" %>
  <br>
  <br>
  <%= label_tag "pizza[price]", "What's the Price?"%>
  <br>
  <%= number_field_tag "pizza[price]", nil, placeholder: "$$$$$$$$$" %>
  <br>
  <br>
  <%= label_tag "pizza[size]", "What's the Size?"%>
  <br>
  <%= text_field_tag "pizza[size]", nil, placeholder: "Wasdasize" %>
  <br>
  <br>
  <%= label_tag "pizza[topping]", "What YOU Want ON It?"%>
  <br>
  <%= text_field_tag "pizza[topping]", nil, placeholder: "Whatchuwantonit" %>
  <br>
  <br>
  <%= submit_tag "Make a Za" %>
<% end %>
